# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json
from pprint import pprint

# Import API key
from api_keys import g_key
gmaps.configure(api_key = g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
output_data_file = "../output_data/weather_df1.csv"
# output_data_file

types_df = pd.read_csv(output_data_file)

weather_data_df1 = types_df.drop(columns=["Unnamed: 0"])
weather_data_df1

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,puerto ayora,0,ES,1644202568,78,36.5939,-6.2330,54.25,5.75
1,merauke,77,ID,1644202505,63,-8.4667,140.3333,86.92,7.47
2,ahipara,97,NZ,1644202569,96,-35.1667,173.1667,75.11,6.17
3,bredasdorp,13,ZA,1644202570,88,-34.5322,20.0403,65.28,5.75
4,hobyo,98,SO,1644202422,72,5.3505,48.5268,75.52,17.36
...,...,...,...,...,...,...,...,...,...
538,srednekolymsk,30,RU,1644202764,96,67.4500,153.6833,-25.64,1.68
539,wawa,0,NG,1644202858,27,9.9022,4.4192,73.85,5.17
540,port augusta,100,CD,1644202643,89,-7.0349,29.7638,69.89,2.35
541,shimoda,97,JP,1644202779,84,34.6667,138.9500,46.76,1.50
542,nouadhibou,96,MR,1644202859,79,20.9310,-17.0347,64.99,12.17

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
locations = weather_data_df1[["Lat", "Lng"]]
# locations

humidity = weather_data_df1["Humidity"].astype(float)

# humidity

# figure_layout = {
#     'width' : '1000px',
#     'height':'400px',
#     'border':'1px solid black',
#     'padding':'1px',
#     'margin':'0 auto 0 auto'
# }

# fig = gmaps.figure(layout=figure_layout)

fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                   dissipating=False, max_intensity=5,
                                   point_radius=1)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Narrow down the DataFrame to find your ideal weather condition. For example:
# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Drop any rows that don't contain all three conditions. 
# You want to be sure the weather is ideal

new_types_df = pd.DataFrame(weather_data_df1, columns = ["City", "Max Temp", "Wind Speed", "Cloudiness"])

max_temp = (new_types_df["Max Temp"] <= 80) & (new_types_df["Max Temp"] > 70)
wind_speed = new_types_df["Wind Speed"] < 10
cloudiness = new_types_df["Cloudiness"] == 0

# new_types_df[max_temp & wind_speed & cloudiness]
new_types_df[max_temp & wind_speed & cloudiness]

              City  Max Temp  Wind Speed  Cloudiness
25       cape town     74.62        0.47           0
170          kayes     73.45        5.99           0
183   san patricio     70.20        8.03           0
192  san cristobal     70.20        8.03           0
208   saint-pierre     78.44        4.61           0
212          kyabe     70.77        6.60           0
359         jiwani     70.41        6.17           0
386      san ramon     70.20        8.03           0
387    san quintin     70.20        8.03           0
417    san vicente     70.20        8.03           0
435     cape coast     74.62        0.47           0
471     san rafael     70.20        8.03           0
539           wawa     73.85        5.17           0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df = pd.DataFrame(weather_data_df1, columns=["City", "Country", "Lat", "Lng"])

hotel_df["Hotel Name"] = ""
# hotel_df["Coordinates"]=""
hotel_df

              City Country      Lat       Lng Hotel Name
0     puerto ayora      ES  36.5939   -6.2330
1          merauke      ID  -8.4667  140.3333
2          ahipara      NZ -35.1667  173.1667
3       bredasdorp      ZA -34.5322   20.0403
4            hobyo      SO   5.3505   48.5268
..             ...     ...      ...       ...        ...
538  srednekolymsk      RU  67.4500  153.6833
539           wawa      NG   9.9022    4.4192
540   port augusta      CD  -7.0349   29.7638
541        shimoda      JP  34.6667  138.9500
542     nouadhibou      MR  20.9310  -17.0347

[543 rows x 5 columns]

In [7]:
# coordinates_lat_lng = []

# target_city = hotel_df["City"]
# # target_city

# target_type = "hotel"

# hotel_df["Coordinates"] = hotel_df["Lat"] + "," + hotel_df["Lng"]

# radius = 5000

# params = {
#     "location:" : coordinates_lat_lng,
#     "types" : target_type,
#     "radius" : radius, 
#     "key" : g_key
# }

# base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# print("A HOTEL WITHIN A 5000 METER RADIUS")

# response = requests.get(base_url, params)
# # print(response.url)

# hotel_distance = response.json()
# print(json.dumps(hotel_distance, indent=4, sort_keys=True))

target_coordinates = f"{hotel_df['Lat'][0]},{hotel_df['Lng'][0]}"
target_search = "hotel"
target_radius = 5000
target_type = "hotel"

# set up a parameters dictionary
params = {
    "location": target_coordinates,
    "keyword": target_search,
    "radius": target_radius,
    "type": target_type,
    "key": g_key
}

# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

In [8]:
# base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# params = {
#     "location": (hotel_df["Lat"], hotel_df["Lng"]),
#     "rankby": "distance",
#     "type" : "hotel", 
#     "key" : g_key
# }

# # params
pprint(response.json(), depth=1)

{'html_attributions': [], 'results': [...], 'status': 'OK'}

In [9]:
hotel_df.iloc[0][0]

'puerto ayora'

In [10]:
#creates a list to capture hotel_names to insert into dataframe
hotel_name = []

# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# taken from Airpost_Ratings Example done in class
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))
    try:
#         hotel_df.iloc[index, 4] = name_address['results'][0]['name']
        hotel_name.append(name_address['results'][0]['name'])
    except IndexError:
        hotel_name.append(np.nan)

In [11]:
hotel_name

['Hotel Puertobahia & Spa',
 nan,
 'Ahipara Bay Motel',
 'Victoria Hotel - Bredasdorp',
 'Osmani Hotel',
 nan,
 'Hotel Plaza Lebu',
 nan,
 'Falls Hotel',
 'HOTEL BURKNER APIAI',
 nan,
 'Hotel Bakkin',
 'The Islander Hotel',
 'Gostinitsa "Arkhara"',
 nan,
 'Hotel Keyanike',
 'Misty Waves Boutique Hotel',
 nan,
 'Legend Garden Hotel',
 nan,
 'Thuwunna Bomi Mountain View Hotel & Resort',
 'Hengifoss Guesthouse',
 'Kak Doma',
 'Beachfront Hotel Hokitika',
 "ABWIK Hotel's",
 'Hotel Molino Viejo',
 'La Quinta Inn & Suites by Wyndham Jamestown',
 'Hotel Castelo',
 'Hotel R9 The Yard',
 nan,
 'Central Palace Hotel',
 'Katsuura Hilltop Hotel & Residence',
 'Chukotka hotel',
 'Airotel Achaia Beach',
 'Arakur Ushuaia Resort & Spa',
 'The Sebel Busselton',
 'Café de Upernavik',
 'People ThankYou',
 nan,
 'Graciosa Resort - Biosphere Island Hotel',
 'King Eider Inn',
 'Hôtel Les Embruns Du Baril',
 'Nome Nugget Inn',
 'Acqua Suítes Maceió',
 'Marawi Resort Hotel',
 'Hotel Keyanike',
 nan,
 'Hilo Reeds Bay Hotel',
 'Hotels in Lakshadweep Islands',
 'Hotel Olafsvik',
 'HOTEL R. SOARES 2',
 'Groote Eylandt Lodge',
 nan,
 'Paradise First Hotel',
 'Hotel Weidenhof',
 'CCI Express Inn',
 'Sundog Inn',
 "Smitty's Bed and Breakfast",
 'Auki Lodge',
 nan,
 'Vienna Hotel',
 nan,
 nan,
 'Comfort Inn Bay Of Isles',
 'Panamericana Hotel Ancud',
 nan,
 nan,
 'SureStay Plus Hotel By Best Western Lompoc',
 'Mehamn Arctic Hotel AS',
 nan,
 'SERENDIP HOTEL GOTO',
 "Munitsipal'naya Gostinitsa",
 'Tanna Lodge',
 'Hotel Klaksvík',
 'Nuli Sapi',
 'Hotel Castrum Villae',
 'El Otro Lado - Private Retreat',
 nan,
 'Holiday Inn Express & Suites Maumelle - Little Rock NW, an IHG Hotel',
 'Qaanaaq Hotel',
 'Tempelo Hotel',
 nan,
 'Hotel Grand Chancellor Hobart',
 'The Redwood Riverwalk, A Boutique Motel',
 'Hotel Bacchus Livno',
 'Hotel Romano Palace Acapulco',
 'Gran Lençóis Flat Residence',
 '万宁日月湾酒店',
 nan,
 nan,
 'Jowhara International Hotel',
 'Pontual Hotel',
 'Lorengau Harbourside Hotel',
 'Hotel Unger',
 'Hotel ICON',
 'Asmara Palace Hotel',
 'Cambridge Hotel',
 'Holiday Inn Express Northern Lights Inn',
 'MBM HOTEL',
 'Aymara Hotel Fazenda',
 'InterContinental Bora Bora Resort Thalasso Spa',
 nan,
 'Hotel El Castillo de los Locos',
 'Maui Seaside Hotel',
 nan,
 nan,
 'La Quinta Inn & Suites by Wyndham Belton - Temple South',
 'Pebbles Inn',
 'Taj on Byrnes Luxury Accommodation Mareeba',
 'Hospitality Carnarvon',
 'فندق مزدة الكبير',
 'Baymont by Wyndham LeMars',
 'Ramada Hotel & Suites by Wyndham Adana',
 nan,
 "St. Catharine's Guesthouse",
 'HOTEL LA ESTRELLA DEL CATATUMBO',
 'Hotel Coral Reef',
 'Fortuna',
 nan,
 'The Explorer Hotel',
 nan,
 'Vardø Hotel AS',
 'Tayezhnaya',
 'Húsavík Cape Hotel',
 'Hotel "Your home-Balzer"',
 nan,
 'Yorktown Beach Hotel',
 'Best Western Kodiak Inn And Convention Center',
 'Golden Rays hotel',
 nan,
 'The Geraldton Hotel',
 'Ungoofaaru Inn',
 'Ghaseali Island Resort',
 nan,
 'Best Western Plus Atlantic Hotel.',
 'Belle rose beach Hotel',
 nan,
 nan,
 'Noovilu Suites - The luxury guest house in Maldives',
 nan,
 'OURE TERA beach resort',
 nan,
 'The Peacock Beach Hotel Hambantota',
 nan,
 'Hotel BasTau',
 'Yenisei lights',
 'Hotel Castrum Villae',
 "Krasnosel'kupnefteprodukt",
 'Hôtel Hiva Oa Hanakee Lodge',
 'Gostevoy Dom 1',
 'Foveaux Hotel',
 'Executives Olaya Hotel',
 'Hotel Mandji',
 'Super 8 by Wyndham Price',
 'Sitka Hotel',
 'Royal Albion Hotel',
 'Paramushir Tur',
 'Narsaq Kayak Hostel',
 nan,
 'Hotel Keyanike',
 'Hotel Beatitude de Grand Lahou',
 nan,
 'Bensvik Brygge',
 nan,
 'Hotel Green House',
 nan,
 nan,
 nan,
 'Hotel Grand Zuri Padang',
 'Hotel Villa de Santiago',
 nan,
 'GRAND HOTEL PEMANGKAT',
 'Prasant Hotels',
 'Etotongwe Lodge',
 'The City Hotel',
 'Manati World Point Inn',
 'Cambridge Hotel',
 'La Quinta Inn & Suites by Wyndham Alice',
 'Hotel Oasis Atlantico Praiamar',
 'Humansdorp Boutique Hotel',
 'Atlantis Hotel',
 'La Quinta Inn & Suites by Wyndham Danbury',
 'Hôtel Georges Faustin Aurat',
 'Hôtel Teriya',
 'Rama Garden Hotel',
 'Ledgestone Hotel Billings',
 'Gizo Hotel',
 'Hotel Amazonia Cayenne',
 'Helong Hotel',
 'Hotel SB Ciutat de Tarragona',
 'Lankaran Springs Wellness Resort',
 'Hotel Grand Zidny',
 'Hôtel Teriya',
 'Brae Hotel',
 nan,
 'Alqadri hotel zero point ormara',
 'Hongqiao Commercial Hotel',
 nan,
 nan,
 'Отель Вокруг света',
 'Herodion Hotel',
 'Hotel Rama Grand',
 nan,
 'Nomades Hotel Boutique',
 'Castelo Encantado',
 nan,
 'Hotel Angmagssalik',
 'Hotel Terrado Suites Antofagasta',
 'Hôtel Le Saint-Pierre',
 nan,
 nan,
 'Liamo Reef Resort - Kimbe International Hotel',
 nan,
 'Hotel Svetlogorsk JBIK',
 'iu Hotel Namibe',
 'Infinity Hotel',
 'Hôtel Opémiska',
 nan,
 'Hotel Adamas',
 'Lo de Luna',
 'Baladam Pride Luxury Residence',
 'Sheraton Lima Hotel & Convention Center',
 'Natal Praia Hotel',
 'The Grand Hotel',
 'The Garden Hotel Korla',
 'Hotel Miramar',
 nan,
 'CABIN 29',
 nan,
 nan,
 nan,
 nan,
 'Talnakh Hotel',
 'Aquarius Boutique Hotel Sampit',
 nan,
 'Hôtel mamuding',
 'Le Rocher de Tahiti',
 'Super 8 by Wyndham Central Pt Medford',
 'Hotel Keyanike',
 'Hotel San Jorge Residencial',
 'LÜDERITZ NEST HOTEL',
 'Holiday Inn Express & Suites Dumas, an IHG Hotel',
 'Hotel Girassol Plaza',
 'Quality Hotel Oceans Tutukaka',
 'Shandrani Beachcomber Resort & Spa',
 'Elista',
 'Frobisher Inn',
 'Best Western Thompson Hotel & Suites',
 'Hotel',
 'Hotel Arctic',
 'Hotel Luna',
 'Mayfair Hotel',
 'Sandaun Surf Hotel',
 'Desert Palace Hotel & Casino Resort',
 nan,
 'Dena Hotel',
 'Chengyue International Hotel',
 'Hotel Hilltone',
 'Hotel Ivaana',
 'Grage Hotel Bengkulu',
 'The Raviz Ashtamudi',
 'Susin Hotel',
 'Auyuittuq Lodge (Inns North)',
 'Cosmos',
 nan,
 'Hotel Kap Farvel',
 'Holiday Inn Express & Suites N Waco Area - West',
 'Hotel Amor',
 'Hotel Shiiya',
 'Hampton Inn & Suites Herndon-Reston',
 nan,
 'Hotel Coqueiros',
 nan,
 'Urban Farm Haus, Rundu, Namibia',
 nan,
 'HOTEL LE HIR',
 'La Quinta Inn & Suites by Wyndham Fairbanks Airport',
 'Gostinitsa "Khatanga"',
 'Hotel Maack',
 'Hotel Lucia',
 'Hotel Diskobay',
 'Fairfield Inn & Suites by Marriott Detroit Lakes',
 nan,
 'Hotel Kawissa Saurimo',
 'Sømandshjemmet',
 'Gostinyy Dvor',
 'Hotel delle Colline',
 'Hótel Höfn',
 'Yucca Hotel',
 'New Manasarowor Hotel',
 'Hotel Polo Orchid',
 'Hotel Palaaima',
 nan,
 'Hotel Toubal',
 nan,
 'Pousada Ayshawa',
 'Queens Hotel',
 'Ritz Lauca',
 'Holiday Inn Express Bedford, an IHG Hotel',
 'Wakatu Hotel',
 nan,
 'hotel Kumpeli',
 'Hotel Vittoria',
 nan,
 'Hotel Vila Gale Touros',
 'Vega Hotel Sorong',
 'Hotel Rabah Syphax',
 'Hotel Keyanike',
 'Angora Hotel',
 'Hotel Mi Tampi',
 'Dubai Hotel - دبی هوټل',
 'Gostinitsa Charysh',
 nan,
 nan,
 'Bushveld Terrace Hotel on Kruger',
 'Whitehill Luxury Hotel Minna',
 'La Pirogue Mauritius',
 'Hotel Faleza',
 'Imperial Hotel, Miri',
 nan,
 nan,
 'Hotel Privê do Atalaia',
 'Sarakhs Abrisham Hotel',
 'Pousada do Diogo',
 'Friendship Hotel',
 'Hotel Premium Porto Downtown',
 'Hotel Franca',
 nan,
 nan,
 'Motel Las Tecas',
 'ROYAL STAR GUESTHOUSE',
 'Casa da Nena Pensión',
 nan,
 'ibis budget Dubbo',
 'Nam Keng Hotel',
 'Aldan Gostinichnyy Kompleks',
 'Smartrom',
 'Aygerim Hotel',
 'Hotel S&L',
 'ibis Styles Karratha',
 'Bin Daod Hotel and Restaurant',
 nan,
 'Crown Victoria Hotel',
 'Nova Inn Inuvik',
 'Sheraton Tucuman Hotel',
 '山羊島ホテル',
 nan,
 'Hotel Arcea Villaviciosa',
 'Samburu Guest House',
 'Bonthe Holiday Village',
 nan,
 nan,
 'Hotel Puri Beach Resort',
 'Bab Sahara',
 'Citania de Veria',
 nan,
 'La Quinta Inn & Suites by Wyndham Hopkinsville',
 'Hotell Frøya',
 'Travelodge by Wyndham Ukiah',
 'Hamza hotel jiwani',
 nan,
 'Ilha Flat Hotel',
 'Tsumbu hôtel',
 'Quinta Do Canavial',
 'Mindel Hotel',
 'Residence Inn by Marriott Norwalk',
 'The Law Courts Hotel',
 'Arktika',
 'Hotel Puertobahia & Spa',
 'Hotel Desierto',
 'Hotel Arsenev',
 nan,
 'Yalemd',
 'إستراحة صلاح الصادق',
 nan,
 'Outback Pioneer Hotel & Lodge - Ayers Rock Resort',
 nan,
 nan,
 nan,
 'Shafa Abha Hotel',
 'Hotel Marien',
 'Gostinitsa "Lena"',
 'Fundacion Pacita',
 'Opava Hotel',
 'Quality Inn',
 nan,
 'Hôtel Teriya',
 'Hôtel Teriya',
 'Hotel MH Peniche',
 'Avtovokzal Khostel Stolovaya',
 'Halsingland Hotel',
 nan,
 'Lords Inn Somnath',
 'Hotel la Villa',
 'Hotel Oriental',
 'Garden Court Ulundi',
 'INATEL Cerveira Hotel',
 nan,
 'Guest House Ruslan Nurata & Tours',
 "Mary-Ann's Polarrigg",
 'Hotel Montt Plaza',
 nan,
 'HOTEL LOCAL BASE',
 nan,
 'Profilaktoriy Baes',
 'Hotel Assif',
 'Отель Инта',
 nan,
 'OYO 90385 Hotel Cadaka',
 'Gostinichnyy Kompleks Vostok',
 'Hosteria Sampedro',
 'Segara Village Hotel',
 'Coral Inn Boutique Hotel',
 'IMKON HOTEL',
 'Holiday Inn Express & Suites Norman, an IHG Hotel',
 nan,
 'Hotel Vestmannaeyjar',
 'Hôtel Teriya',
 'Hotel Macuco',
 'Holiday Inn Express & Suites Palatka Northwest, an IHG Hotel',
 nan,
 'Hôtel Las Palmas',
 'Hilton Garden Inn Dandong',
 'Løgumkloster Refugium',
 nan,
 'Tsaravatsy Hotel',
 nan,
 'Flamingo Vallarta Hotel & Marina',
 'Comfort Inn',
 nan,
 'Diyor hotel',
 'Hotel Central (Vostok)',
 'Nakabu Hotel',
 'ibis Laon',
 'Avani Lesotho Hotel & Casino',
 'Hotel Molino Viejo',
 'Vila Baleira Resort',
 'Hotel Juyasirain',
 nan,
 'Presidential Inn & Suites',
 'Kingwood Hotel (Sibu) Sdn Bhd',
 'Pensiunea Sophia',
 'Grey`s Hotel',
 'Nusa Island Retreat',
 'Gostinichnyy Kompleks Amiliya',
 nan,
 'The Woolshed at Jondaryan',
 'Holiday Inn Express & Suites Brenham South, an IHG Hotel',
 'Hotel Keyanike',
 nan,
 'Ancyra Hotel By Continent - Poso',
 'Steppe hotel',
 'Hotel Catalonia Mirador des Port',
 'Campbell Point House: Guest House and Restaurant.',
 nan,
 nan,
 'Hotel Comfort-Inn',
 'Chagala Bautino Hotel',
 'SummerSprings Hotel',
 'Hotel Nikko Nara',
 'Amérian Executive Mendoza Hotel',
 'Black Rock Oceanfront Resort',
 'Safary',
 'Hotel Onemay',
 'Ashcroft River Inn',
 'Guest hous Tambura',
 nan,
 'Hotel Faro & Beach Club',
 'Hotel Alfa',
 'Hilton Garden Inn Pascagoula',
 nan,
 'Hôtel Teriya',
 'Montta - active camping / campsite Montan',
 nan,
 'Hotel Budha',
 nan,
 nan,
 'Hotel Arcadia',
 'Skaslien Gjestgiveri',
 'Hotel Taboka',
 'Radisson Blu Hotel Haugesund',
 'Inubosaki Hotel',
 nan,
 'Premier Inn Huddersfield North hotel',
 'Hotel Du Havre',
 nan,
 'Saldanha Bay Hotel',
 'Africa Hotel',
 nan,
 'Berlevåg camping & Appartement AS',
 'Gasthof Dümichen',
 'Hotel Casa Do Capitão',
 'Akwa Reef Lodge',
 'Grande Hotel da Huila',
 nan,
 'Deep Blue Hotel & Hot Springs',
 nan,
 'Hotel Morobe',
 'Hotel Líder',
 'Morant Villa',
 'Hotel Oasis Atlantico Praiamar',
 nan,
 'Hotel Punta Rocas',
 'Hotel Migrant',
 'Count Garden Hotel',
 'Magnuson Hotel Country Inn',
 nan,
 'Hotel Mulegé',
 'Holiday Inn & Suites Springfield - I-44, an IHG Hotel',
 'Baygal',
 'Ulvesund FYR',
 nan,
 'Hotel Presidente Luanda',
 'ООО "Туруханская пушнина"',
 nan,
 'Indus Hotel',
 'Hotel El Jardín de la Abadía',
 'Cobblestone Inn & Suites - Merrill',
 'Skynest County Hotel Kitale',
 'Maldron Hotel Wexford',
 nan,
 'Polar Capital',
 'Desert Gat',
 'Yubileinaya Hotel',
 'Moli International Hotel',
 'The Old Phanburi Bed and Breakfast (พานบุรี)',
 nan,
 nan,
 nan,
 'Çelikoğlu Otel Emirdağ',
 nan,
 'La Vague Bleu',
 nan,
 'Four Points by Sheraton Sydney, Central Park',
 'Hotel Lagon',
 'Baylagod hotel',
 'The Kimberley Grande Resort',
 'Hotel Oasis Atlantico Praiamar',
 nan,
 nan,
 'Hotel Keyanike',
 'Kurofune Hotel',
 'HOtel Tasiast']

In [16]:
hotel_df['Hotel Name']= hotel_name
hotel_df.dropna()
hotel_df.to_csv('hotel_export1.csv')

In [17]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [18]:
# hotel_info
# locations

In [19]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(height='420px'))